body{
    background-image : url("../images/star.jpg");
color: #ebe1e1c0;
margin:0px;
font-family:Arial, Helvetica, sans-serif;
padding-left: 5px;
}
.left {
    padding: 0px;
    z-index: 3;
    margin: 0px;
    background-color: rgb(25, 136, 15);
    overflow: hidden;
    list-style-type: none;
    color: rgb(240, 248, 255);
    top: 0;
       right: 0;
       position: fixed;
       left: 0;
}
.left li a{
    color: rgb(240, 248, 255);
    text-decoration: none;
    
}
.left li{
    float: left;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
   
}
.left .right{
    float: right;
}
.left li:hover, .right:hover{
    background-color: rgba(15, 22, 16, 0.959);
}
#current{
    background-color: rgb(16, 66, 6);
}
main{
    padding-top: 30px;
}
#back{
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    text-align: center;
    color: #f8eeeeea;
}
section::after{
    content: "";
    display: block;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.493);
}
main a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.959);
    padding: 3px;
    background-color: rgba(25, 136, 15, 0.74);
    border-radius: 3px;
}
main a:hover{
    color: white;
    background-color: rgb(236, 125, 20);
}
.content{
    list-style-type: none;
}
ul.content li{
    margin: 09px 0px;
}
.code{
    width: 90%;
    overflow-x: auto;
    font-family: 'Lucida Console', Courier, monospace;
    background-color: rgb(37, 31, 31);
    margin: 3px auto;
    padding: 0.8rem;
}
#egborder{
    border-style: dotted;
    border-radius: 10px 40px;
    border-color: rgb(26, 11, 27);
    background-color: rgb(115, 91, 223);
    width: 40%;
    border-width: 10px 4px;
    text-align: center;
}
#indent{
    text-indent: 100px;
    border: 1px solid rgb(39, 29, 29); 
    background-color: rgb(10, 92, 139); 
    width: 90%; 
    text-align: justify;
    border-radius: 4px;
    padding: 4px;
}
#inline{
    list-style-type: none;
}
#inline li{
    display: inline;
    padding: 5px;
}
.iblock{
    display: inline-block;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: lightblue;
}
.outer{
    width: 60%;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(172, 44, 63);
    margin: 0px auto;
    padding: 5px;
}
.inner{
    position: relative;
    top: 40px;
    left: 30px;
    width: 70%;
    border: 1px solid black;
    background-color: rgb(11, 66, 11);
}
.outer_absolute{
    width: 60%;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(172, 44, 63);
    margin: 0px auto;
    padding: 5px;
    position: relative;
}
    
.inner_absolute{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 70%;
    border: 1px solid black;
    background-color: rgb(11, 66, 11);
}
.outer_sticky{
    width: 60%;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(172, 44, 63);
    margin: 0px auto;
    padding: 5px;
    position: relative;
} 
.inner_sticky{
    position: sticky;
    padding: 3px;
    top: 300px;
    width: 70%;
    border: 1px solid black;
    background-color: rgb(11, 66, 11);
    margin: 0px auto;
}
#overflow{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
    background-color: rgb(29, 29, 122);
}
#internal{
    width: 40%;
    padding: 7px;
    background-color: rgb(150, 40, 59);
    display: inline-block;
    border: 1px solid black;
    box-shadow: inset 1px 1px 3px 3px blue;
    margin: 0px 10px;
}
#external{
    width: 40%;
    padding: 7px;
    background-color: rgb(150, 40, 59);
    display: inline-block;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 3px blue;
    margin: 0px 10px;
}
#backtransition{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
    transition: background-color 1s ease-in-out; 
}
#backtransition:hover{
    background-color: rgb(129, 13, 13);
}
#transform{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
    transition: transform 1s ease-in-out;
}
#transform:hover{
    transform: rotate(180deg);
}
@keyframes changeShape{
    0%{ border-radius: 0%; }

    25%{ border-radius: 12.5%; }

    50%{ border-radius: 25%; }

    75%{ border-radius: 37.5%; }

    100%{ border-radius: 50%; }
}
@keyframes rotate{
    0%{ transform: rotate(0deg); }

    100%{ transform: rotate(360deg);}
}
@keyframes reducesize{
    0%{ height: 50px; width: 50px; }

    100%{ height: 50px; width: 50px; }
}
#animationdiv1{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 0px 10px;
    background-color: rgb(18, 18, 160);
    animation: changeShape 1s ease-in-out alternate infinite;
}
#animationdiv2{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 0px 10px;
    background-color: rgb(18, 18, 160);
    animation-name: changeShape, rotate, reducesize;
    animation-duration: 1s, 1s, 1s;
    animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite, infinite;
    animation-direction: alternate, alternate, alternate;
}
.flex-container { 
    display:flex;  
    height:150px; 
    color:black;
    background-color:lightgrey; 
}
.flex-container div { 
    width:70px; 
    height:70px; 
}
.div1 { 
    background-color:#7ff9ae; 
}
.div2 { 
    background-color:#76bbfc; 
}
.div3 { 
    background-color:#ff7f8e; 
}
.flex-column { 
    display:flex; 
    flex-direction: column; 
    height:250px; 
    color: black;
    background-color:lightgrey;
}
.flex-column div { 
    width:70px; 
    height:70px; 
}
.flex-nowrap { 
    display:flex; 
    flex-wrap: nowrap; 
    height:150px;
    /* width: 80%; */
    /* min-width: 200px; */
    color:black;
    background-color:lightgrey; 
} 
.flex-nowrap div { 
    width:70px; 
    height:70px; 
}
.flex-wrap { 
    display:flex; 
    flex-wrap: wrap; 
    /* width: 80%; */
    /* min-width: 200px; */
    height:250px; 
    color:black;
    background-color:lightgrey; 
}
.flex-wrap div { 
    width:70px; 
    height:70px; 
}
.flex-grow { 
    display:flex; 
    /* width:80%; */
    /* min-width: 200px; */
    height:150px; 
    color:black;
    background-color:lightgrey; 
}
.flex-grow div { 
    width:50px; 
    height:50px; 
}
#d1 { background-color:#7ff9ae; flex-grow: 1; }
#d2 { background-color:#76bbfc; flex-grow: 2; }
#d3 { background-color:#ff7f8e; flex-grow: 3; }
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px 50px 50px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-container > div{
    color: #2196F3;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 3 / 3 / 4 / 4; }
.div8 { grid-area: 4 / 1 / 5 / 4; }
.div9 { grid-area: 5 / 1 / 6 / 4; }
.grid-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-container2 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #2196F3;
}
footer{
    background-color: rgba(0, 0, 0, 0.281);
    color: rgba(240, 248, 255, 0.973);
    text-align: center;
    padding: 5px;
}