body{
    color: #ebe1e1c0;
    margin:0px;
    padding-left: 4px;
    background-image : url("../images/star.jpg");
}
a{
        text-decoration: none;
        color: rgba(240, 248, 255, 0.959);
        padding: 3px;
        background-color: rgba(25, 136, 15, 0.74);
        border: 1px solid rgba(20, 5, 5, 0.719);
        border-radius: 3px;
}
a#signup{
    float:right;
    margin: 10px;
    padding: 6px;
}
section::after{
    content: "";
    display: block;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.493);
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    text-align: center;
    color: #f8eeeeea;

}
.long{
    float:left;
    margin:10px;
    padding: 10px;
    border: 1px solid rgba(235, 27, 27, 0.63);
}
footer{
    background-color: rgba(0, 0, 0, 0.281);
    color: rgba(240, 248, 255, 0.973);
    text-align: center;
    padding: 5px;
}
li, li ul li, li ul{
    margin: 6px;
    border: 1px solid black;
}