body{
    background-image: url("../images/star.jpg");
    color: #ebe1e1f1;
    margin:0px;
    padding-top: 30vh;
    font-family: Calibri;
    text-align: center;
}
#forms{
    width: 70%;
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    background-image: linear-gradient(to top right, rgba(255, 102, 0, 0.938), rgba(212, 212, 14, 0.897));
}
#forms table{
    margin: auto;
}
footer{
    margin-top: 32vh;
    background-color: rgba(0, 0, 0, 0.986);
    color: rgba(240, 248, 255, 0.973);
    text-align: center;
    padding: 5px;
}
