.orange{
    background-color:rgba(7, 1, 8, 0.877);
    color: rgba(240, 248, 255, 0.459);
    margin: 0.5%;
}
.image{
    width: 49%;
    height: 300px;
}
table{
    
    /* border-collapse: collapse; */
    width: 100%;
}
th, td{
    border-bottom: 3px solid rgb(224, 23, 23);
    text-align: center;
    padding: 8px;
    background-color: rgba(19, 218, 218, 0.13);
}
h1,h2,h3,h4,h5,h6{
    color: rgba(243, 107, 44, 0.719);
}
.cursiving {
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
}
.capital{
    text-transform: uppercase;
}
#main:hover{
    color:rgba(255, 145, 0, 0.877);
}
#main{
    text-align: center;
}
#upperlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#upperlist li{
    padding: 5px;
    border: rgba(223, 223, 20, 0.5) solid 1px;
    border-radius: 5px;
    background-color: cadetblue;
    float: right;
}
ul li a{
    text-decoration: none;
    color: rgba(14, 2, 2, 0.705);
    font-weight: bold;
}
